/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #DFF2DE;
}

header {
  background-color: #F3F2E8;
  font-weight: bolder;
}
header .navbar-nav .nav-link {
  color: #2E6953;
  font-weight: bold;
}
header .navbar-nav .nav-link:hover {
  color: #4faf8b;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main h1 {
  color: #3e7e65;
}
main p {
  font-family: "Libre Baskerville", serif;
  color: orange;
  margin: 10px;
  font-size: 1.2rem;
  font-weight: bolder;
  width: 95%;
}
main section div img {
  width: 40%;
  height: 40%;
}
main h2 {
  color: violet;
}
main div ul {
  list-style-position: inside;
  text-align: center;
  display: inline-block;
  padding: 0;
  margin: 0 auto;
}
main div ul li {
  text-align: left;
  font-weight: bold;
  color: #4d4646;
  margin: 0.3rem 0;
}
main .cards-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
main .cards-container .card {
  background: #F3F2E8;
  width: 300px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(150, 99, 2, 0.48);
  text-align: center;
  margin-top: 20px;
}
main .cards-container .card h3 {
  color: orangered;
  margin-bottom: 10px;
}
main .cards-container .card p {
  color: #605959;
  font-size: 14px;
  line-height: 1.4;
}
main .cards-container .card button {
  margin-top: 15px;
  background: #68b36b;
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
  font-size: 14px;
}
main .cards-container .card button a {
  color: white;
  text-decoration: none;
}
main .contenedor-servicios {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 90%;
  margin: auto;
}
main .contenedor-servicios .card {
  background: #DFF2DE;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(150, 99, 2, 0.48);
}
main .contenedor-servicios button {
  margin-top: 15px;
  background: #68b36b;
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
  font-size: 14px;
}
main .contenedor-servicios button a {
  color: white;
  text-decoration: none;
}
main .section-sobremi, main .contenedor-sobremi {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
main .section-sobremi img, main .contenedor-sobremi img {
  width: 35%;
  height: auto;
}
main .section-sobremi-dos, main .contenedor-sobremi-dos {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-top: 20px;
  margin: 10px;
}
main .section-sobremi-dos .texto-dos, main .contenedor-sobremi-dos .texto-dos {
  margin-top: 3rem;
}
main .section-sobremi-dos .texto-dos p, main .contenedor-sobremi-dos .texto-dos p {
  margin-bottom: 5rem;
}
main .section-sobremi-dos img, main .contenedor-sobremi-dos img {
  width: 30%;
  height: auto;
}
main .contacto-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
main .contacto-container .contacto-card {
  flex: 1;
  background-color: #e6f7e6;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(150, 99, 2, 0.48);
  margin: 10px;
}
main .contacto-container .contacto-card label {
  display: block;
  font-weight: 600;
  margin-top: 15px;
}
main .contacto-container .contacto-card input, main .contacto-container .contacto-card textarea {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
}
main .contacto-container .contacto-card .radio-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
main .contacto-container .contacto-card .radio-group .radio-option {
  display: flex;
  align-items: center;
}
main .contacto-container .contacto-card button {
  margin-top: 20px;
  width: 100%;
  padding: 15px;
  background: #68b36b;
  border: none;
  font-size: 16px;
  color: whitesmoke;
  border-radius: 8px;
  cursor: pointer;
}
main .contacto-container .contacto-card button :hover {
  background: #57a15a;
}

footer {
  text-align: center;
}
footer .redes a img {
  width: 70px;
  height: 70px;
  margin: 20px;
}

@media screen and (max-width: 767px) {
  main div ul {
    margin: 1.5rem;
  }
  main .section-sobremi, main .contenedor-sobremi {
    flex-direction: column;
    align-items: center;
  }
  main .section-sobremi img, main .contenedor-sobremi img {
    width: 80%;
    margin-bottom: 15px;
  }
  main .section-sobremi .texto, main .contenedor-sobremi .texto {
    margin-top: 1rem;
    text-align: center;
  }
  main .section-sobremi .texto p, main .contenedor-sobremi .texto p {
    margin-bottom: 2rem;
  }
  main .section-sobremi-dos, main .contenedor-sobremi-dos {
    flex-direction: column;
    align-items: center;
  }
  main .section-sobremi-dos img, main .contenedor-sobremi-dos img {
    width: 80%;
    margin-bottom: 15px;
  }
  main .section-sobremi-dos .texto-dos, main .contenedor-sobremi-dos .texto-dos {
    margin-top: 1rem;
    text-align: center;
  }
  main .section-sobremi-dos .texto-dos p, main .contenedor-sobremi-dos .texto-dos p {
    margin-bottom: 2rem;
  }
  main .contenedor-servicios {
    display: grid;
    grid-template-columns: 1fr;
  }
  main .contacto-container {
    flex-direction: column;
  }
  main .contacto-container .contacto-card {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  main .lista {
    margin-left: 2rem;
  }
  main .contenedor-sobremi {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .contenedor-sobremi .texto {
    margin-top: 1rem;
  }
  main .contenedor-sobremi .texto p {
    margin-bottom: 2rem;
  }
  main .contenedor-sobremi-dos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .contenedor-sobremi-dos .texto-dos p {
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  footer .redes a img {
    width: 70px;
    height: 70px;
    margin: 20px;
  }
}

/*# sourceMappingURL=estilos.css.map */
