// estilos de tablet


@media screen and (min-width: 768px){
    header{
        .navbar .container{
        justify-content: space-between;
        }
        .navbar-toggler{
        margin-left: auto;
        }
    }
    main{
        .lista{
            margin-left: 2rem;
        }
        .contenedor-sobremi{
            display: flex;
            flex-direction: column;
            align-items: center;
            .texto{
                margin-top: 1rem;
                p{
                    margin-bottom: 2rem;
                }
            }
            
        }
        .contenedor-sobremi-dos{
            display: flex;
            flex-direction: column;
            align-items: center;
            .texto-dos{
                p{
                    margin-bottom: 2rem;
                }
            }
        }
    }
}


    