// estilos de movil


@media screen and (max-width: 767px){

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    footer{
        text-align: center;
        .redes{
            a{
                img{
                    width: 70px;
                    height: 70px;
                    margin: 20px;
                }
            }
        }
    }
}