// estilos de tablet


@media screen and (min-width: 768px){
    
    main{
        // estilos de inicio
        .lista{
            margin-left: 2rem;
        }
        // estilos de sobre mi
        .contenedor-sobremi{
            display: flex;
            flex-direction: column;
            align-items: center;
            .texto{
                margin-top: 1rem;
                p{
                    margin-bottom: 2rem;
                }
            }
            
        }
        .contenedor-sobremi-dos{
            display: flex;
            flex-direction: column;
            align-items: center;
            .texto-dos{
                p{
                    margin-bottom: 2rem;
                }
            }
        }
    }


}


    