// estilos de tablet


@media screen and (min-width: 768px){
    header{
        .navbar .container{
        justify-content: space-between;
        }
        .navbar-toggler{
        margin-left: auto;
        }
    }
    main{
        .lista{
            margin-left: 2rem;
        }
    }
}


    