// estilos de desktop


@media screen and (min-width: 1024px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}