@mixin main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@mixin p{
    font-family: "Libre Baskerville", serif;
    color: black;
    margin: 10px;
    font-size: 1.2rem;
    font-weight: bolder;
    width: 50%;
}

@mixin .galeria{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 700px;
    margin: 5px;
}

@mixin .galeria-img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

@mixin img-redes{
    width: 70px;
    height: 70px;
    margin: 20px;
}

