@mixin header{
    text-align: center;
    background-color: #F3F2E8;
    text-decoration-line: none;
    font-weight: bold;
    transition: color 0.3s;
    
}

@mixin main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@mixin p{
    font-family: "Libre Baskerville", serif;
    background-color: whitesmoke;
    color: black;
    margin: 10px;
    font-size: 1.2rem;
    font-weight: bolder;
    width: 50%;
}


@mixin img-redes{
    width: 70px;
    height: 70px;
    margin: 20px;
}

