
@mixin main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@mixin p{
    font-family: "Libre Baskerville", serif;
    color: #F69489;
    margin: 10px;
    font-size: 1.2rem;
    font-weight: bolder;
    width: 95%;
    
}


@mixin img-redes{
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    width: 70px;
    height: 70px;
    margin: 20px;
}

