// variables
@use "../utilities/variables" as *;

// mixin
@use "../utilities/mixin" as *;
// estilos de header
header{
    background-color: $primary;
    font-weight: bolder;
    .navbar-nav{
        .nav-link{
            color: $link-nav-card;
            font-weight: bold;
            &:hover{
                color: $boton-card;
            }
        }
    }
}


// main index principal
main{
    @include main;
    h1{
        color: $tipografia-h1;
    }
    p{
        @include p
    }
    section{
        
        div{
            img{
                width: 40%;
                height: 40%;
            }
        }
        
    }
    h2{
        color: violet;
    }

    div{
        ul{
            list-style-position: inside;
            text-align: center;
            display: inline-block;
            padding: 0;
            margin: 0 auto;
            li{
                text-align: left;
                font-weight: bold;
                color: #4d4646;
                margin: 0.3rem 0;
            }
        }
    }

// estilos de tarjeta principal
    .cards-container{
        display: flex;
        gap: 20px;
        justify-content: center;
        flex-wrap: wrap;
        .card{
            background: $primary;
            width: 300px;
            padding: 20px;
            border-radius: 15px;
            box-shadow: 0 4px 10px rgba(150, 99, 2, 0.48);
            text-align: center;
            margin-top: 20px;
            h3{
                color: orangered;
                margin-bottom: 10px;
            }
            p{
                color: #605959;
                font-size: 14px;
                line-height: 1.4;
            }
            button{
                margin-top: 15px;
                background: #68b36b;
                border: none;
                padding: 10px 18px;
                border-radius: 20px;
                font-size: 14px;
                a{
                    color: white;
                    text-decoration: none;
                    
                }
            }
        }
    }

// estilos de servicios
    .contenedor-servicios{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        width: 90%;
        margin: auto;
        
        .card{
            background: $body-bc;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(150, 99, 2, 0.48);
            
        }
        button{
            margin-top: 15px;
            background: #68b36b;
            border: none;
            padding: 10px 18px;
            border-radius: 20px;
            font-size: 14px;
            a{
                color: white;
                text-decoration: none;
            }
        }

    }

// estilos sobre mi 
// primer parrafo con imagen
    .section-sobremi, .contenedor-sobremi{
        display: flex;
        justify-content: space-between;
        margin: 10px;
        img{
            width: 35%;
            height: auto;
        }
    }
    .section-sobremi-dos, .contenedor-sobremi-dos{
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        margin-top: 20px;
        margin: 10px;
        .texto-dos{
            margin-top: 3rem;
            p{
                margin-bottom: 5rem;
            }
        }
        img{
            width: 30%;
            height: auto;
        }
    }
    


//estilos de contacto
// contenedor general
    .contacto-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;

        .contacto-card{
            flex: 1;
            background-color: #e6f7e6;
            padding: 30px;
            border-radius: 15px;
            box-shadow: 0 2px 5px rgba(150, 99, 2, 0.48);
            margin: 10px;
            label{
                display: block;
                font-weight: 600;
                margin-top: 15px;
            }
            input, textarea{
                width: 100%;
                padding: 12px;
                margin-top: 5px;
                border: 1px solid #ccc;
                border-radius: 8px;
                font-size: 15px;

            }
            .radio-group{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 12px;
                .radio-option{
                    display: flex;
                    align-items: center;
                }
            }
            button{
                margin-top: 20px;
                width: 100%;
                padding: 15px;
                background: #68b36b;
                border: none;
                font-size: 16px;
                color: whitesmoke;
                border-radius: 8px;
                cursor: pointer;
                :hover{
                    background: #57a15a;
                }
            }
        }
    }
}



// estilos de footer
footer{
    text-align: center;
    .redes{
        a{
            img{
                @include img-redes
            }
        }
    }
}